<div class="pantalla-auth">
  <form [formGroup]="form" (ngSubmit)="enviar()" class="card">
    <h2>Iniciar sesión</h2>

    <div class="input-group">
      <label>Email</label>
      <input class="input" formControlName="email" type="email" placeholder="tu@email.com" />
    </div>

    <div class="input-group">
      <label>Contraseña</label>
      <input class="input" formControlName="password" type="password" placeholder="Contraseña" />
    </div>

    @if (mensajeError) {
      <p class="error-text">{{ mensajeError }}</p>
    }

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid || cargando">
      {{ cargando ? 'Ingresando...' : 'Ingresar' }}
    </button>

    <p class="link-secundario">
      ¿No tenés cuenta? <a routerLink="/auth/register">Registrate</a>
    </p>
  </form>
</div>